* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

header {
    font-size: 4ch;
    color: black;
}

body {
    font-family: 'open sans';
}


/* Header */
header {
    width: 100%;
    height: 100vh;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: url(../img/portadaextra.jpeg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: url(../img/portadaextra.jpeg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: c;
    padding: 30px 50px 0 0;
}

nav>a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0e0606;
    font-weight: 300;
    text-decoration: dashed;
    margin-right: 35px;
    font-weight: lighter;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card>.contenido-texto-card {
    width: 60%;
    color: #fff;
}

.cards .card>.contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind {
    width: 28%;
    text-align: center;
}

.servicio-ind img {
    width: 90%;
}

.servicio-ind h3 {
    margin: 10px 0;
}

.servicio-ind p {
    font-weight: 300;
    text-align: justify;
}


footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: 0;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
    margin: 0;
    display: inline;
}

.mise {
    color: #fff;


}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;


}

.origin {

    margin-top: 0px;
    height: 0vh;
    border-bottom: 3px solid #af20d3;

}

.content-foo p {
    color: #ccc;

}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width: 900px) {
    header {
        background-position: center;
    }
}

@media screen and (max-width: 500px) {
    nav {
        text-align: center;
        padding: 30px 0 0 0;
    }
}